@font-face {
	font-family: Museo;
	src: url('fonts/MuseoSans_500.otf');
}
body{font-family: Museo;}

/*COMMON*/
.noUnderline{text-decoration:none;}

.input {width:300px;
	height:40px; 
	padding:10px; 
	font-size:16px; 
	border:none;
	-moz-box-shadow: 0px 0px 3px #333 inset;
	-webkit-box-shadow: 0px 0px 3px #333 inset;
	box-shadow: 0px 0px 3px #333 inset;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}
	
	
.nav_button {
	padding:7px 15px 7px 15px;
	color:#DDD;
	opacity:0.8;
	text-shadow: rgba(0,0,0,0.3) 1px 1px 2px;
	/*text-shadow: 0 -1px -1px rgba(0, 0, 0, 0.5);*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
 	-webkit-transition: all 0.5s ease-in-out;
}	

.nav_button:hover {
	text-decoration:none;
	color:#FFF;
	text-shadow: rgba(0,0,0,0.8) 2px 1px 2px;
 	background: rgba(0, 108, 158, 0.6);
 	cursor:pointer;
}

.nav_button_disabled{
	color:#DDD;
	opacity:0.3;
	text-shadow: rgba(0,0,0,0.3) 1px 1px 2px;
	padding:7px 15px 7px 15px;
}

.btn {
	padding:7px 15px 7px 15px;
	color:#FFF;
	text-shadow: rgba(0,0,0,0.3) 1px 1px 2px;
	background: rgba(0, 108, 158, 0.6);
	/*text-shadow: 0 -1px -1px rgba(0, 0, 0, 0.5);*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
}

/*FOOTER*/
#footer_items {position:relative; top:20px;  width:950px;}
#footer_items li{float:left; padding:10px 30px 0px 0px; color:white}


/*INDEX*/
#index_logo {position:absolute; top:100px; width:100%;}

#index_container{position:absolute; top:250px; width:100%}
#index_top_container{position:relative;}
#index_top_strip {position:absolute; top:250px; width:100%; background-color:#05689A; height:200px; border-top: 3px solid #005E8D; }

#index_bg{background-image: url("images/blur_bg.png"); background-size: 100%; width:100%; height:100%;}

#title {position:relative; color:white; font-size:64px; text-shadow: rgba(0,0,0,0.3) 2px 1px 2px; display:inline}
#mini_title {position:absolute; color:white; opacity:0.9; text-shadow: rgba(0,0,0,0.3) 2px 1px 2px; font-size:32px; display:inline}
#tag_line {color:white;  font-size:20px; margin:0px;  text-shadow: rgba(0,0,0,0.3) 1px 1px 2px;}
#description {color:black;  font-size:20px; margin:0px; text-shadow: rgba(255,255,255,0.3) 1px 1px 2px;}

#email_button {position:relative; top:-35px;left:130px; background:url(images/enter.png) no-repeat;width:32px; height:32px; cursor:pointer}

