@font-face {
	font-family: Museo;
	src: url('fonts/MuseoSans_500.otf');
}
body{font-family: Museo;}

/*COMMON*/

p{margin:0px;}

h6 {color:white; font-size:20px; margin:0px;  text-shadow: rgba(0,0,0,0.3) 1px 1px 2px;font-weight:normal}

.noUnderline{text-decoration:none;}

.input {width:280px;
	height:40px; 
	position:relative;
	left:3px;
	padding-left:10px;
	font-size:16px; 
	border:none;
	-moz-box-shadow: 0px 0px 3px #333 inset;
	-webkit-box-shadow: 0px 0px 3px #333 inset;
	box-shadow: 0px 0px 3px #333 inset;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}
	
	
.nav_button {
	padding:7px 15px 7px 15px;
	color:#DDD;
	opacity:0.8;
	text-shadow: rgba(0,0,0,0.3) 1px 1px 2px;
	/*text-shadow: 0 -1px -1px rgba(0, 0, 0, 0.5);*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
 	-webkit-transition: all 0.5s ease-in-out;
}	

.nav_button:hover {
	text-decoration:none;
	color:#FFF;
	text-shadow: rgba(0,0,0,0.8) 2px 1px 2px;
 	background: rgba(0, 108, 158, 0.6);
 	cursor:pointer;
}

.nav_button_disabled{
	color:#DDD;
	opacity:0.3;
	text-shadow: rgba(0,0,0,0.3) 1px 1px 2px;
	padding:7px 15px 7px 15px;
}

.btn {
	padding:7px 15px 7px 15px;
	color:#FFF;
	text-shadow: rgba(0,0,0,0.3) 1px 1px 2px;
	background: rgba(0, 108, 158, 0.6);
	/*text-shadow: 0 -1px -1px rgba(0, 0, 0, 0.5);*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
}

.medium_pic {
	-moz-box-shadow:    0px 1px 3px 1px rgba(0,0,0,0.5);
  	-webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.5);
 	box-shadow:         0px 1px 3px 1px rgba(0,0,0,0.5);}

/*FOOTER*/
#footer_items {position:relative; top:20px;  width:950px;}
#footer_items li{float:left; padding:10px 30px 0px 0px; color:white; list-style-type: none;}

/*HEADER*/
#header_title {color:white; font-size:64px; text-shadow: rgba(0,0,0,0.3) 2px 1px 2px; display:inline;}

#profile_info p{font-family:impact; color:#999; text-shadow: 0px 1px 0px rgba(255,255,255,.5);}


/*GENERAL*/
#container {width:900px; position:relative; top:30px; overflow:auto; margin:0 auto; 
	background: #254D5B; /* The Fallback */
	background: rgba(0,0,0,0.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:    0px 1px 1px 1px rgba(0,0,0,0.5);
  	-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.5);
 	box-shadow:         0px 1px 1px 1px rgba(0,0,0,0.5);
}
#content {float:right; width:700px; height:900px; margin:10px 10px 10px 0px; overflow:hidden;
	background: white; /* The Fallback */
	background: rgba(255,255,255,0.9);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:    0px 2px 3px 3px rgba(0,0,0,0.3);
  	-webkit-box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.3);
 	box-shadow:         0px 2px 3px 3px rgba(0,0,0,0.3);
}

#profile_header {
	-moz-box-shadow:    0px 1px 3px 1px rgba(0,0,0,0.1);
  	-webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1);
 	box-shadow:         0px 1px 3px 1px rgba(0,0,0,0.1);
}

#nav_left {float:left;width:190px; margin-top:49px;}

#nav_left div{padding:20px 10px; border-bottom: 1px solid rgba(0,0,0,0.5); border-top: 1px solid rgba(255,255,255,0.2);
	background: rgba(0,0,0,0.0); 
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.1)));
	background: -moz-linear-gradient(top,  rgba(0,0,0,0),  rgba(0,0,0,0.1));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#254D5B', endColorstr='#1B3842');
}
#nav_left .selected{background: rgba(0,0,0,0.4);}
#nav_left div:hover{background: rgba(0,0,0,0.4); cursor:pointer; }
#nav_left div p{color:rgba(255,255,255,0.7); text-shadow:0 -1px -1px rgba(0, 0, 0, 0.5);}
/*INDEX*/
#index_logo {position:absolute; top:50%; margin-top:-220px; width:100%;}

#index_container{position:relative; top:-70px; width:100%}
#index_top_container{position:relative;}
#index_top_strip {position:relative; top:-70px; width:100%; background-color:#05689A; height:200px; border-top: 3px solid #005E8D; }

#index_bg{background: url("images/blur_bg.png") no-repeat center center fixed; width:100%; height:100%;}

#title_container {margin:20px 0px 0px; position:relative; left:50%}
#title {position:relative; left:-160px; color:white; font-size:64px; text-shadow: rgba(0,0,0,0.3) 2px 1px 2px; display:inline}
#mini_title {position:absolute; left:100px; top:25px; color:white; opacity:0.9; text-shadow: rgba(0,0,0,0.3) 2px 1px 2px; font-size:32px; display:inline}

#tag_line{position:relative; left:40px; top:-4px; white-space:nowrap;}
#description {color:black;  font-size:20px; margin:0px; text-shadow: rgba(255,255,255,0.3) 1px 1px 2px;}

#email_button {position:relative; top:-37px;left:125px; background:url(images/enter.png) no-repeat;width:32px; height:32px; cursor:pointer}

.forgot_password:hover{cursor:pointer; opacity:0.7}

#index_button {position:relative; left:330px; top:-72px; float:left; font-size:24px; background: rgba(0,0,0,0.3); display:none}

/*PROGRAM*/

.workout_table {margin-left:20px;}
.workout_table td{vertical-align:top; padding:5px}
.workout_comment {color:#AAA;}
.workout_set {width:150px;}
.workout_exercise {width:250px;}