RewriteEngine on
RewriteBase /
Options +FollowSymLinks
Options -Indexes

RewriteRule ^(\w+)\.html$ index.php?list=$1

RewriteRule ^([A-Za-z]+)/([0-9]+)/$ index.php?userID=$1&program=$2 
RewriteRule ^([a-zA-Z0-9_-]+)\.html$ index.php?username=$1

RewriteCond %{HTTP_HOST} ^trackcraze\.(.*) [NC]
RewriteRule ^(.*)$ http://www\.trackcraze\.%1/$1 [R=301,NC,L]

ErrorDocument 404 /notfound.php